
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/_solarized-light.css">
    <link rel="stylesheet" href="/css/plain.css">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <main class="container">
      <section class="about">
        <img src="/images/avatar.png" alt="avatar" class="avatar">
        <h2>You name</h2>
        <p class="tagline">Developer</p>
      </section>
      <section class="content">
        <ul class="posts">
          <li>
            <h1 id="posts-label">posts</h1>
          </li>
          <%= for post <- posts do %>
            <li>
              <a class="post-link" href="#">
                <h2 class="post-title"><%= post.title %></h2>
              </a>
              <div class="post-meta">
              </div>
              </div>
            </li>
          <% end %>
        </ul>
      </section>
    </main>
  </body>
</html>

